body{
    min-width: 100vw;
    min-height: 100vh;
}

#product-Container {
    background-color:white;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 900px;
    display: table;
    height: 100%;
    max-height: 700px;
    padding: 3%;
    border-radius: 10px;
}

/* Descrição do produto */

#leftDiv {
    display: table-cell;
    height: 100%;
    width: 25%;
}

#product-Name {
    font-size: 140%;
    font-weight: 650;
}

#product-Ref {
    font-size: 80%;
    font-weight: 450;
}

#product-Rate {
    font-size: 150%;
    font-weight: 700;
}

#caracteristicasDiv{
    padding: 10%;
}

#caracteristicasUl {
    font-size: 70%;
    list-style: none;
}

#compartilheTxt {
    font-size: 80%;
    font-weight: 700;
}

#iconsMedia {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.icon {
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

#facebookIcon{
    background-image: url(../img/facebook.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
}

#twitterIcon{
    background-image: url(../img/twitter.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
}

#pinterestIcon{
    background-image: url(../img/pinterest.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
}

#mailIcon{
    background-image: url(../img/mail.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
}

#whatsappIcon{
    background-image: url(../img/whatsapp.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
}

/* Campo das imagens :) */

#imagesDiv {
    display: table-cell;
    width: 45%;
    height: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 8%;
}

#mainImage{
    background-image: url(../img/main.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;

    background-color: rgb(0, 0, 0);
    width: 100%;
    aspect-ratio: 1/1;
}

#previewImages-Container {  
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 1%;
    
    aspect-ratio: 10/2;
    width: 100%;
    max-height: 65px;
}

.previewImage{
    aspect-ratio: 1/1;
    height: 80%;
    border: 1px solid rgb(155, 146, 146);
}

.arrowImage{
    aspect-ratio: 1/1;
    height: 80%;
}

#preview-1{
    background-image: url(../img/preview1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
}

#preview-2{
    background-image: url(../img/preview2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
}

#preview-3{
    background-image: url(../img/preview3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
}

#preview-4{
    background-image: url(../img/preview4.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
}

/* Div direita*/

#rightDiv {
    display: table-cell;
    width: 30%;
}

#oldPrice{
    font-size: 70%;
    text-decoration:line-through;
    color: rgb(109, 109, 109);
}

#newPrice-Div{
    width: 100%;
}

#newPrice-pix{
    display: flex;
}

#newPrice-pix h1{
    font-size: 150%;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.5px;
}

#pixTxt{
    font-size: 70%;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.5px;
    margin-left: 1%;
    margin-top: 5%;
}

#parcelaTxt{
    font-size: 100%;
    font-weight: 500;
}

#selecionarCores{
    height: 10%;
}

#corTxt{
    font-weight: 400;
}

#coresSelect{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
}

.imageCores{
    aspect-ratio: 1/1;
    margin-top: 5px;
    width: 15%;
    border: 1px solid rgb(155, 146, 146);
}

#pretoCor{
    background-image: url(../img/preto.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
}

#azulCor{
    background-image: url(../img/azul.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
}

#vermelhoCor{
    background-image: url(../img/vermelho.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
}

#chumboCor{
    background-image: url(../img/chumbo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
}

#pretoechumboCor{
    background-image: url(../img/pretoechumbo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
}

#selecionarTamanhos{
    height: 10%;
}

#tamanhoTxt{
    font-weight: 400;
}

#tamanhosSelect{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.tamanhoIcon{
    background-color: rgb(255, 249, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    aspect-ratio: 1/1;
    margin-top: 5px;
    width: 22px;
    border-radius: 50px;
    border: 1px solid rgb(110, 99, 99);
}

#buyFav{
    display: flex;
    width: 100%;
    gap: 5%;
    margin-top: 5%;
}

#comprarButton{
    width: 60%;
    font-size: 100%;
    border-radius: 5px;
    padding: 4%;
    border: 0;
    font-family: "Trebuchet MS",Arial,sans-serif;
    font-weight: 500;
    background: #ff691e;
    color: #fff;
    cursor: pointer;
}

#favoritoButton{
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 1px solid rgb(155, 146, 146);

    background-image: url(../img/heart.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60%;
}

#separa{
    margin-top: 6%;
    margin-bottom: 2%;
    
}

#entrega{
    width: 100%;
    height: auto;
}

#consulteTxt{
    font-size: 120%;
    font-weight: 500;
}

#Cep{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

#input-Cep{
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    width: 75%;
    height: 5%;
    padding: 3% ;
}

#consultar{
    width: 50%;
    font-size: 100%;
    border-radius: 5px;
    padding: 5%;
    border: 0;
    font-family: "Trebuchet MS",Arial,sans-serif;
    font-weight: 500;
    background-color: #0091ea;
    color: #fff;
    cursor: pointer;
}

footer{
    margin-top: 13%;
}
/* nada especifico */

.fontBold {
    font-weight: 600;
}

.fontBlue {
    color: rgb(25, 131, 170);
}