body{
    min-width: 100vw;
    min-height: 100vh;
}

#product-Container {
    display: table;
    height: 100%;
    max-height: 700px;
}

/* Descrição do produto */

#leftDiv {
    display: table-cell;
    width: 25%;
}

#product-Name {
    font-size: 140%;
    font-weight: 650;
}

#product-Ref {
    font-size: 80%;
    font-weight: 450;
}

#product-Rate {
    font-size: 150%;
    font-weight: 700;
}

#caracteristicasUl {
    font-size: 70%;
}

#compartilheTxt {
    font-size: 80%;
    font-weight: 700;
}

#iconsMedia {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.icon {
    background-color: aqua;
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

/* Compo das imagens :) */

#imagesDiv {
    display: table-cell;
    width: 45%;
    height: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#mainImage{
    background-color: rgb(53, 182, 139);
    height: 90%;
}

#previewImages-Container {
    background-color: rgb(182, 16, 11);
    height: 10%;
}

#rightDiv {
    display: table-cell;
    width: 30%;
}

/* nada especifico */

.fontBold {
    font-weight: 600;
}

.fontBlue {
    color: rgb(14, 139, 139);
}