#product-Container {
    display: table;
    height: 100%;
    width: 100vw;
}
/* Descrição do produto */

#leftDiv {
    display: table-cell;
    width: 25%;
}

#product-Name{
    font-size: 140%;
    font-weight: 650;
}

#product-Ref{
    font-size: 80%;
    font-weight: 450;
}

#product-Rate{
    font-size: 150%;
    font-weight: 700;
}

#caracteristicasUl{
    font-size: 70%;
}

#compartilheTxt{
    font-size: 80%;
    font-weight: 700;
}

#iconsMedia{
    display: flex;
    justify-content: left;
    gap: 10px;
}

.icon{
    background-color: aqua;
    width: 25px;
    height: 25px;
    border-radius: 50px;
}


#imagesDiv {
    display: table-cell;
    width: 45%;
}

#rightDiv {
    display: table-cell;
    width: 30%;
}

.fontBold{
    font-weight: 600;
}

.fontBlue{
    color: rgb(14, 139, 139);
}